server:
  port: 8082

spring:
  application:
    name: SERVICE-CAR
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: SERVICE-CAR
  datasource:
    url: jdbc:h2:mem:cardb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
